.location-list-item {
  display: flex;
  margin-top: 1rem;
  border: 1px solid #3717a04b;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #f9f7ff;
}

.location-image {
  width:250px;
  height:250px; 
  object-fit:cover;
  border: 1px solid #3717a04b;
  border-radius: 0.75rem;
}

.location-info {
  position: relative;
  top: -1rem;
  margin-left: 1rem;
}