.NavBar{
    position: fixed;
    overflow: hidden;
    /* top: -10rem; */
    background-color: #3717A0;
    width: 100%;
}

.NavBar li {
    display: inline;
    margin-right:50px;
    padding: 0;
}

.NavBar li a {
    color: white;
    text-decoration: none;
}

.account {
    color: white;
    margin-left: 150px;

}