.NavBar{
    background-color: purple;
}

.NavBar li {
    display: inline;
    margin-right:50px;
}

.NavBar li a {
    color: white;
    text-decoration: none;
}

.account {
    color: white;
    margin-left: 150px;

}