.NavBar{
    position: absolute;
    overflow: hidden;
    top: 0rem;
    background-color: #3717A0;
    width: 100%;
}

.NavBar ul {
    width: 960px;
    margin: auto;
    padding: 10px 0 10px 0;
    display: flex;
}

.NavBar li {
    display: inline;
    margin-right:50px;
    
    /* border: 1px solid white; */
}

.NavBar li a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.account {
    color: white;
    margin-left: auto;
    margin-right: 0;
}

@media (max-width: 1048px) {
    .NavBar ul {
      width: 90%;
      min-width: 350px;
    }
  }