form * {
        box-sizing: border-box;
        border-radius: 10px;
        
      }

#review-text{
    width: 50%;
    resize: vertical;
}

#submit {
    appearance:none;
    -webkit-appearance:none;
  
    padding:10px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:50%;
  
  }

  .ratings {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
   